*.backup
*.zip
~*
.fuse_hidden*
*.fls
*.log
*.dvi
*.aux
*.bbl
*.blg
*.toc
*.out
*.xref
*.lof
*.log
*.lot
*.brf
*~ *.tmp
*.pdf
*.ps
*.bak
*.png
escritorio
*swp

Curricula.Master/delete/temp.tex
Curricula.Master/unified-curricula-main.tex

.vscode/
Curricula.in/lang/Espanol/CS.tex/tex4fig/Pregunta*.png
Curricula.Master/compile1institucion.sh
Curricula.Master/gen-html-1institution.sh

.DS_Store
Curricula.in/.DS_Store
Curricula.in/country/.DS_Store
Curricula.in/country/Peru/.DS_Store
Curricula.in/country/Peru/Computing/.DS_Store
Curricula.in/country/Peru/Computing/CS/.DS_Store

Curricula.Master/gen-poster.sh
Curricula.Master/gen-poster-fast.sh
Curricula.Master/compile-simple-latex.sh
Curricula.Master/CompileTexFile.sh
Curricula.Master/gen-book.sh
Curricula.Master/gen-eps-files.sh
Curricula.Master/gen-graph.sh
Curricula.Master/gen-html-1institution.sh
Curricula.Master/compileall
Curricula.Master/log/*errors-bib.txt
Curricula.Master/log/*-time.txt
