% https://www.graphviz.org/doc/info/colors.html

SFW = black,cornflowerblue
MAC = black,lightskyblue1
COM = black,chartreuse3
PSI = black,chartreuse3
EGI = black,cornflowerblue
GES = black,tomato3
ENG = black,orange1
FIS = black,lightskyblue1
MAR = black,tomato3
EST = black,lightskyblue1
ECO = black,tomato3
IIS = black,cornflowerblue
FIN = black,tomato3
BSC = black,lightskyblue1
INV = black,chartreuse3
ETM = black,chartreuse3

CO = black,chartreuse3
CE = black,chartreuse3
FP = black,chartreuse3
CA = black,chartreuse3
HM = black,chartreuse3
